@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-size: 18px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(51, 51, 51, 1);
  margin: 0;
  line-height: 21px;

  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  color: rgba(0, 0, 0, 1);
}

.main-container {
  flex-grow: 1;
}

.page-navigation {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.navigation-list {
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 350px;
  margin-left: auto;
}

.navigation-user .navigation-link, .link-to-catalog {
  min-width: 20px;
  min-height: 20px;
  display: flex;
}

.navigation-link {
  font-style: bold;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 1);
  padding: 20px 17px 19px;
  display: block;
}


.link-to-catalog {
  font-style: bold;
  font-size: 16px;
  line-height: 20px;
  background-color:  rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
  padding: 9px 15px 8px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.index-opening {
  background-image: url("../images/index-background.jpg");
  height: 485px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.title-image {
  display: block;
  margin: -10px auto;
  padding-top: 52px;
  padding-bottom: 84px;

}

.advantage-title {
  font-style: bold;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantage-intro {
  text-align: center;
}

.advantages-list {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

 .super-blue {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  display: flex;
  margin: 0;
  flex-direction: column;
  width: 400px;
}

.advantage-title {
  margin: 63px 290px 31px;
  width: 620px;
}

.advantage-intro {
  margin-top: 0;
  margin-bottom: 90px;
}

.advantage-item-name {
  font-size: 24px;
  line-height: 28px;
  font-style: bold;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  margin: 30px;

}

.advantage-item-name-white {
  font-size: 24px;
  line-height: 28px;
  font-style: bold;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  margin-top: 92px;
  margin-bottom: 30px;
}

.second-list-name {
  margin: 103px 85px 30px;
}

.advantage-item-description {
  margin: 0 81px 80px;
  width: 230px;
}

.number-sign {
  margin-bottom: 30px;
}

.first-advantages-item-list {
  text-align: center;
  text-decoration: none;
  color: #333333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.first-advantages-item, .first-advantages-item-blue {
  width: 400px;
  margin: 0;

}

.first-advantages-item-blue, .reason-to-visit {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.three-reasons-to-visit li {
  text-decoration: none;
  text-align: center;
  list-style-type: none;
}

.real-city, .item-bridge {
  display: flex;
  justify-content: space-between;
}

.second-advantages-item-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.reason-to-visit-four {
background-color: rgba(131, 179, 211, 0.2);
color: rgba(51, 51, 51, 1);
text-align: center;
text-decoration: none;
width: 400px;
}

.how-interesting {
  font-style: bold;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  color: rgba(0, 0, 0, 1);
  margin: 91px 451px 29px;
}

.wanna-try{
  margin: 0 304px 56px;
}

.hotel-search {
  text-align: center;
}

.button-search {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  text-decoration: none;
}


.footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 45px 0;
}

.newsletter {
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  color: rgba(51, 51, 51, 1);
  font-size: 22px;
  line-height: 26px;

}

.newsletter-main {
  background-image: url("../images/background-for-subscribe-input.jpg");

  height: 411px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 1);
  display: block;
}

.newsletter h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.field {
  background-color: rgba(242, 242, 242, 1);
  border: none;
}

.newsletter-button {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-style: bold;
  font-weight: 700;
}

.footer-social {
  max-width: 147px;
  margin-right: 236.5px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 50px;
  height: 45px;
}

.footer-contacts {
  text-align: center;
  width: 720px;
  margin-right: 235.5px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.catalog-hotels {
  display: flex;
}

.inner-header {
  margin-left: 70px;
}

.inner-header-title {
  margin-top: 30px;
  font-size: 60px;
  line-height: 78px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.inner-filters-list {
  color:rgba(255, 255, 255, 1);
  background-image: url("../images/filters-background.jpg");
  width: 1200x;
  height: 403px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-filter-list {
  padding: 0;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  width: 370px;
  margin-left: 70px;
}

.catalog-filter-group {
  padding: 70;
  border: none;
}

.sorting-container {
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  margin-bottom: 76px;
  padding: 14px;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
}

.search-results {
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.founded-hotels-list {
  width: 1056px;
}

.hotels-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotel-item-title {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.button-view-information {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button-add-to-favourite {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.button-added-to-favourite {
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.pagination-container {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  padding: 12px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link,
.pagination-next-four {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
  border: none;
  width: 60px;
  height: 60px;
  padding: 13px 25px;
  display: block;
  box-sizing: border-box;
}

.pagination-current {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.footer-social-item a {
  background-color: rgba(130, 179, 211, 1);
  color:rgba(255, 255, 255, 1);
  text-decoration: none;
}
